apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: false

  - name: clickhouse-http
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: false
    editable: true
    jsonData:
      server: clickhouse
      port: 8123
      protocol: http
      username: grafana
      tlsAuth: false
      tlsSkipVerify: true
      defaultDatabase: system
    secureJsonData:
      password: "StrongPass123!"